<a href="https://colab.research.google.com/github/PGPradhan/Sales-Forecasting/blob/sales-data-extraction/sales-data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

# Read the CSV file into a DataFrame
df = pd.read_csv('/content/sales-linear-pq.csv')

# Extract product quantities from the column
product_quantities = df['product_quantity']

# Clean the extracted quantities
def clean_quantities(x):
    try:
        return [int(q) for q in x.strip('[]~ ').split('~') if q]
    except ValueError:
        return None

cleaned_quantities = product_quantities.apply(clean_quantities)

# Replace the original column with the cleaned quantities
df['product_quantity'] = cleaned_quantities

# Print the cleaned DataFrame
print(df)

    product_quantity
0                [1]
1                [1]
2                [1]
3                [4]
4          [3, 1, 1]
..               ...
988           [3, 1]
989           [6, 1]
990          [1, 12]
991           [8, 1]
992           [5, 1]

[993 rows x 1 columns]

In [5]:
print(df.head)

<bound method NDFrame.head of     product_quantity
0                [1]
1                [1]
2                [1]
3                [4]
4          [3, 1, 1]
..               ...
988           [3, 1]
989           [6, 1]
990          [1, 12]
991           [8, 1]
992           [5, 1]

[993 rows x 1 columns]>

In [9]:
# Convert the arrays of product quantities into totals
df['total_quantity'] = df['product_quantity'].apply(lambda x: sum(x) if x is not None else 0)


# Print the updated DataFrame
print(df)

    product_quantity  total_quantity
0                [1]               1
1                [1]               1
2                [1]               1
3                [4]               4
4          [3, 1, 1]               5
..               ...             ...
988           [3, 1]               4
989           [6, 1]               7
990          [1, 12]              13
991           [8, 1]               9
992           [5, 1]               6

[993 rows x 2 columns]

In [11]:
df.to_csv('sales.csv', index=False)

In [12]:
df1 = pd.read_csv('/content/Date.csv')

In [18]:
# Check if the value is a valid string before splitting
df1['date'] = df1['date'].apply(lambda x: x.split()[0] if isinstance(x, str) else x)

# Print the updated DataFrame
print(df1)

            date
0     12-10-2016
1     12-09-2016
2     13-09-2016
3     23-09-2016
4     23-09-2016
...          ...
999   29-02-2024
1000  29-02-2024
1001  29-02-2024
1002  29-02-2024
1003  29-02-2024

[1004 rows x 1 columns]

In [19]:
df1.to_csv('datess.csv', index=False)